{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'main/css/register.css'%}" asp-append-version="true"/>
</head>
<body>
<form action="{% url 'login' %} " class="formValidation" method="post">

    <div class="container">
        <div class="register">
            <h1 align="center">Регистрация</h1>
            <p>Заполните форму для авторизации</p>

            <p>Логин: {{ form.username }}</p>
            <br>
            <p>Пароль: {{ form.password }}</p>
            <br>
            {% if form.errors %}
            <p>{{ form.errors.error }}</p>
            {% endif %}


            {% csrf_token %}
            <button class="validatebtn" type="submit" class="registerbtn">Войти</button>

            <p align="center">Еще нет аккаунта? <a style="color: coral;" class="login" href="{% url 'register' %}">Зарегестрироваться</a>.</p>
        </div>
    </div>


</form>
</body>
</html>