{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'main/css/register.css'%}" asp-append-version="true"/>
</head>
<body>
<form class="formValidation" method="post">
  {% csrf_token %}
    <div class="container">
        <h1>Авторизация</h1>
        <p>Заполните форму для авторизации</p>
        <hr>


        <label for="email"><b>Электронная почта</b></label>
        <input type="email" name="username" placeholder="Введите почту" class="email" required>
        <div class="errors" style="height: 20px; color: red"></div>


        <label for="psw"><b>Пароль</b></label>
        <input type="password" name="password" placeholder="Введите пароль" class="psw" required>
        <div class="errors" style="height: 20px; color: red"></div>

      {{ form.errors }}
        <hr>
        <button class="registerbtn">Войти</button>
    </div>

    <div class="container signin">
        <p>Уже есть аккаунт? <a href="#">Зарегестрироваться</a>.</p>
    </div>
</form>
<script src="{% static 'main/js/register.js'%}"></script>
</body>
</html>