{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Анекдотатор</title>
    <link rel="stylesheet" href="css/register.css" asp-append-version="true"/>
</head>
<body>

<form action="{% url 'register' %}" class="formValidation" method="post">

    <div class="container">
        <h1>Регистрация</h1>
        <p>Заполните форму для регистрации</p>
        {{ form }}
        {{ form.errors }}
        {% csrf_token %}
        <button class="validateBtn" type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>

    <div class="container signin">
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>.</p>
    </div>
</form>
<script src="js/register.js"></script>
</body>
</html>