{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Анекдотатор</title>
    <link rel="stylesheet" href="{% static 'main/css/register2.css'%}" asp-append-version="true"/>
</head>
<body>

<form action="{% url 'register' %}" class="formValidation" method="post">

    <div class="container">
        <div class="register">
            <h1 align="center">Регистрация</h1>
            <p> Придумайте логин: {{ form.username }} </p>
            <br>
            <p> Придумайте пароль: {{ form.password1 }} </p>
            <br>
            <p> Повторите пароль: {{ form.password2 }} </p>
            <br>
            {{ form.errors }}
            {% csrf_token %}
        <button  class="validateBtn" type="submit" class="registerbtn">Зарегистрироваться</button>
        <p align="center">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>.</p>
        </div>
    </div>

</form>
<script src="js/register.js"></script>
</body>
</html>