{%extends 'main/mainlayot.html' %}
{% load static %}
{% block title %}Анекдоты про семью{%endblock%}

{% block content %}
<h1>Book List</h1>

{% if anec_list %}
<ul>

    {% for anec in anec_list %}

    <li>{{ anec.text }}</li>
    <li>
        {{anec.like_count}}
    </li>
    {% endfor %}

</ul>
{% else %}
<p>There are no anecdots.</p>
{% endif %}
<link rel="stylesheet" href="{% static 'main/css/family.css'%}">
<div class="anekdot">
    Муж заявляет жене: — Дорогая, с этого дня я бросаю пить! Жена: — А кто будет называть меня красавицей?
</div>
<div class="anekdot">
    А на прошлый Новый год к нам через трубу опять залез Дед Мороз. Но тут неожиданно из командировки вернулся папа. В
    тот год мне достался весь мешок с подарками — коробка конфет, три бутылки шампанского и пачка неудобных воздушных
    шариков
</div>
<div class="anekdot">
    Прихожу я, значит, в ЗАГС, чтобы выйти замуж, а мне говорят: "Жениха надо иметь с собой". Объясните мне ещё раз,
    пожалуйста: за что я плачу налоги?! anekdotov.net
</div>
{%endblock%}
