{%extends 'main/mainlayot.html' %}
{% load static %}
{% block title %}Анекдотатор{%endblock%}

{% block content %}
<div class="hello" align="center">
    <h1><strong> АНЕКДОТАТОР </strong></h1>
    <h2> Здесь вы найдете анекдоты на любые тематики </h2>
</div>
<img align: center
     src="{%static 'main/img/haha.jpg'%}">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Rl2U5FEmhkA" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
{%endblock%}
