{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" asp-append-version="true"/>
</head>
<body>

<ul class="menu-main">
    <li><a href="{% url 'home'%}" class="current">ГЛАВНАЯ</a></li>
    <li><a href="{% url 'contacts'%}"> КОНТАКТЫ</a></li>
    <div class="dropdown">
        <button class="dropbtn">КАТЕГОРИИ</button>
        <div class="dropdown-content">
            <a href="{% url 'family'%}">Семейные</a>
            <a href="#">Про армию</a>
            <a href="#">Про тёщу</a>
        </div>
    </div>
    <li><a href="{% url 'profile' %}" class="register"> <img width="50" height="50" hspace="50" src="{% static 'main/img/register.jpg'%}"> </a>
    </li>
    {% if user != 'AnonymousUser' %}
    <li>{{user}}</li>
    {% endif %}
</ul>

{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>